name: pipeline

channels:
  - conda-forge
  - defaults

dependencies:
  - conda-ecosystem-user-package-isolation
  - python=3.10
  - ipython
  - pip
  - numpy
  - matplotlib
  - scipy
  - openmpi
  - mpi4py<4.0.0
  - certifi
  - protobuf=3.20 # casatplotms requires ver<=3.20 currently
  - poppler # required by PL
  - imagemagick # required by PL
  - pandoc # required by nbsphinx; also available from macports/homebrew/apt; different from 'pandoc' on PyPI
  - pip:
      - --extra-index-url https://casa-pip.nrao.edu/repository/pypi-group/simple
      - casatools==6.6.6.*
      - casatasks==6.6.6.*
      - casashell==6.6.6.*
      - casampi
      - --extra-index-url https://casa-pip.nrao.edu/repository/pypi-qt5/simple # for linux
      - --extra-index-url https://casa-pip.nrao.edu/repository/pypi-qt6/simple # for macOS-arm64
      - casaplotms
      - casaplotserver
      - -r requirements.txt
