[build-system]
requires = [
    "setuptools>=64.0",
    "packaging>=22.0.0",
    "wheel",
    "csscompressor==0.9.5",
    "jsmin==3.0.1",
]
build-backend = "setuptools.build_meta"

[project]
name = "Pipeline"
description = "Pipeline"
requires-python = ">= 3.10"
dynamic = ["version", "dependencies", "optional-dependencies"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Programming Language :: Python :: 3.10",
]

[project.urls]
Documentation = "https://almascience.nrao.edu/processing/science-pipeline"
Repository = "https://open-bitbucket.nrao.edu/projects/PIPE/repos/pipeline"

[tool.setuptools.packages.find]
include = ["pipeline*"]

[tool.setuptools.package-data]
"*" = [
    '*.css',
    '*.egg',
    '*.eot',
    '*.gif',
    '*.html',
    '*.jpg',
    '*.js',
    '*.mak',
    '*.mako',
    '*.otf',
    '*.png',
    '*.svg',
    '*.ttf',
    '*.txt',
    '*.woff',
    '*.woff2',
    '*.xml',
    '*.yaml',
    'version',
]

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt"] }
optional-dependencies.dev = { file = ["requirements_dev.txt"] }
optional-dependencies.docs = { file = ["requirements_docs.txt"] }
optional-dependencies.exp = { file = ["requirements_exp.txt"] }

[tool.ruff]
line-length = 120
indent-width = 4

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "D"]
preview = true

[tool.ruff.lint.pycodestyle]
max-doc-length = 140
max-line-length = 120

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
preview = true
exclude = ["*.pyi"]
docstring-code-format = true
docstring-code-line-length = 140
quote-style = "single"
skip-magic-trailing-comma = false

[tool.coverage.run]
branch = true
source = ['pipeline']
omit = ['pipeline/run*pipeline.py', 'tests/*']

[tool.coverage.report]
fail_under = 10 # Set the minimum coverage percentage required
exclude_lines = [
    'pragma: no cover',
    'if __name__ == "__main__":',
    'from .* import .*',
    'import .*',
    'raise NotImplementedError',
    'pass',
]

[tool.pytest.ini_options]
markers = [
  "regression: regression tests",
  "alma: alma test",
  "nobeyama: nobeyama test",
  "vla: vla test",
  "vlass: vlass test",
  "fast: shorter-running test",
  "slow: longer-running test",
  "twelve: 12m ALMA ",
  "seven: 7m ALMA",
  "sd: single dish",
  "interferometry: interferometry",

  "component: component tests",
  "importdata: importdata task(s)",
  "selfcal: selfcal task(s)",
  "makeimages: makeimages task(s)",

  "unit: unit tests",
]
addopts = "-ra -p pipeline.pytest_plugins"
junit_family = "legacy"
