[build-system]
requires = ["setuptools>=64.0", "wheel", "csscompressor==0.9.5", "jsmin==3.0.1"]
build-backend = "setuptools.build_meta"

[project]
name = "Pipeline"
description = "Pipeline"
requires-python = ">= 3.10"
dynamic = ["version", "dependencies", "optional-dependencies"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Programming Language :: Python :: 3.10",
]

[project.urls]
Documentation = "https://almascience.nrao.edu/processing/science-pipeline"
Repository = "https://open-bitbucket.nrao.edu/projects/PIPE/repos/pipeline"

[project.scripts]
paris = "pipeline.__main__:cli_interface"

[tool.setuptools.packages.find]
include = ["pipeline*"]

[tool.setuptools.package-data]
"*" = [
    '*.css',
    '*.egg',
    '*.eot',
    '*.gif',
    '*.html',
    '*.jpg',
    '*.js',
    '*.mak',
    '*.mako',
    '*.otf',
    '*.png',
    '*.svg',
    '*.ttf',
    '*.txt',
    '*.woff',
    '*.woff2',
    '*.xml',
    '*.yaml',
    'version',
]

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt"] }
optional-dependencies.dev = { file = ["requirements_dev.txt"] }
optional-dependencies.docs = { file = ["requirements_docs.txt"] }
optional-dependencies.exp = { file = ["requirements_exp.txt"] }
