[build-system]
requires = [
    "setuptools>=64.0",
    "packaging>=22.0.0",
    "wheel",
    "csscompressor==0.9.5",
    "jsmin==3.0.1",
]
build-backend = "setuptools.build_meta"

[project]
name = "Pipeline"
description = "Pipeline"
requires-python = ">= 3.10"
dynamic = ["version", "dependencies", "optional-dependencies"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Programming Language :: Python :: 3.10",
]

[project.urls]
Documentation = "https://almascience.nrao.edu/processing/science-pipeline"
Repository = "https://open-bitbucket.nrao.edu/projects/PIPE/repos/pipeline"

[tool.setuptools.packages.find]
include = ["pipeline*"]

[tool.setuptools.package-data]
"*" = [
    '*.css',
    '*.egg',
    '*.eot',
    '*.gif',
    '*.html',
    '*.jpg',
    '*.js',
    '*.mak',
    '*.mako',
    '*.otf',
    '*.png',
    '*.svg',
    '*.ttf',
    '*.txt',
    '*.woff',
    '*.woff2',
    '*.xml',
    '*.yaml',
    'version',
]

[tool.setuptools.dynamic]
version = { attr = "pipeline.__version__" }
dependencies = { file = ["requirements.txt"] }

[tool.setuptools.dynamic.optional-dependencies]
dev = { file = ["requirements_dev.txt"] }
docs = { file = ["requirements_docs.txt"] }
exp = { file = ["requirements_exp.txt"] }

[tool.coverage.run]
branch = true
source = ['pipeline']
omit = ['pipeline/run*pipeline.py', 'tests/*']

[tool.coverage.report]
fail_under = 10 # Set the minimum coverage percentage required
exclude_lines = [
    'pragma: no cover',
    'if __name__ == "__main__":',
    'from .* import .*',
    'import .*',
    'raise NotImplementedError',
    'pass',
]
