bdsf==1.12.0                    # Only installed for the "VLASS-PL2025" release due to compatibility issues with NumPy 2.x
                                # Only required for the VLASS pipeline
                                # https://github.com/lofar-astron/PyBDSF/issues/247
