#####################################################################################################
# CASA ver-6.5.3-py3.8 (monolithic)
# 
# usage:
#   PYTHONNOUSERSITE=1 ${casa_dir}/bin/pip3 install --use-pep517 --disable-pip-version-check \
#        --upgrade-strategy=only-if-needed -r requirements.txt
#
#####################################################################################################

### PL production dependencies 

astropy == 5.1.1            # https://www.astropy.org
bdsf == 1.10.1              # https://github.com/lofar-astron/PyBDSF
cachetools == 5.2.0         # https://pypi.org/project/cachetools
                            # replacing: external/cachetools-3.1.1-py3.6.egg
mako == 1.2.4               # https://github.com/sqlalchemy/mako
pypubsub == 4.0.3           # https://pypi.org/project/PyPubSub
intervaltree == 2.1.0       # The versions greater than ver2.1.0 include an API change that is not 
                            # currently compatible with Pipeline yet:
                            # https://github.com/PacificBiosciences/pbbioconda/issues/86
logutils == 0.3.5           # https://pypi.org/project/logutils/
ps_mem == 3.14              # https://pypi.org/project/ps-mem/                        
csscompressor == 0.9.5      # https://pypi.org/project/csscompressor/
                            # only when running `python setup.py buildmytasks -i`