# the casa packages versions are not specified here therefore the latest version from PyPI is used.
casatools
casatasks
casadata
casaplotms
casaviewer
casampi
almatasks
casashell
# bdsf-1.10.1-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl # localbuild