name: "Sphinx: Build"

on: push

jobs:
  build:
    name: (${{ matrix.os }}, Miniforge)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    permissions:
      contents: write
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: pipe1669
          environment-file: pipe1669.yaml
          channel-priority: strict
          use-only-tar-bz2: true
          show-channel-urls: true
          miniforge-version: latest
      - run: conda info
      - run: conda list
      - run: conda config --show
      - run: conda env list
      - run: type -a python
      - name: Pre-Build Setup (os misc. latex, git)
        run: sudo apt-get update -y && sudo apt-get install -y git xvfb imagemagick poppler-utils latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended
      - run: type -a git
      - name: Pre-build Setup (python/sphinx)
        run: python -m pip install .[docs] && mkdir -p ~/.casa/data
      # - name: Build HTML
      #   working-directory: ./docs
      #   run: make html_docs
      # - name: Build PDF
      #   working-directory: ./docs
      #   run: make latexpdf
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: docs-artifact
      #     path: |
      #       docs/_build/html/
      #       docs/_build/latex/taskdocs.pdf
      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   if: github.ref == 'refs/heads/PIPE-1669-run-dev-pipeline-with-modular-casa6'
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: docs/_build
