name: "Test-Unit"

on:
  push:
    branches:
      - "update-docs-build-and-packaging-setup"
      - "unit-testing-with-gh-actions"
      - "main"
    paths:
      - "docs/**"
      - "pipeline/**"
      - ".github/workflows/build-gh-pages.yml"
      - ".github/workflows/env-setup-run-template.yml"
      - "environment.yml"
      - "setup.py"
  # Allow manual triggering
  workflow_dispatch:

# Cancel in-progress runs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # Define the matrix strategy here; only using ubuntu-latest for build-gh-pages)
    strategy:
      matrix:
        os: ["ubuntu-latest"]

    name: Unit Testing (${{ matrix.os }})

    uses: ./.github/workflows/env-setup-run-template.yml
    with:
      # Pass the specific build logic as a multi-line string
      os: ${{ matrix.os }}
      pip_install: .[dev]
      test_data: unit
      run_command: |
        # Configure CASA datapath in ~/.casa/config.py
        # We use double quotes so the shell expands $HOME and $GITHUB_WORKSPACE
        echo "datapath = [ '$HOME/.casa/data', '$GITHUB_WORKSPACE/pipeline-testdata' ]" >> ~/.casa/config.py

        # Run unit tests
        PYTHONNOUSERSITE=1 python -m pytest -v --cov=pipeline --cov-report=html --pyclean pipeline

      artifact_name: coverage-${{ matrix.os }}
      artifact_path: htmlcov

  deploy:
    name: Deploy Pages
    needs: build
    runs-on: ubuntu-latest
    # Only deploy if the push came from the specific branch / ubuntu-latest
    if: github.ref == 'refs/heads/update-docs-build-and-packaging-setup'
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: coverage-ubuntu-latest
          path: coverage_report

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: coverage_report
          destination_dir: coverage_unit
