name: "Test-Unit"

on:
  push:
    branches:
      - "**"
    paths:
      - "docs/**"
      - "pipeline/**"
      - ".github/workflows/build-gh-pages.yml"
      - ".github/workflows/env-setup-run-template.yml"
      - "environment.yml"
      - "setup.py"
  # Allow manual triggering
  workflow_dispatch:

# Cancel in-progress runs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: Unit Testing (${{ matrix.os }})

    uses: ./.github/workflows/env-setup-run-template.yml
    with:
      os: ${{ matrix.os }}
      pip_install: .[dev]
      test_data: unit
      run_command: |
        # Configure CASA datapath in ~/.casa/config.py
        # We use double quotes so the shell expands $HOME and $GITHUB_WORKSPACE
        echo "datapath = [ '$HOME/.casa/data', '$GITHUB_WORKSPACE/pipeline-testdata' ]" >> ~/.casa/config.py
        
        # Run unit tests
        if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
          PYTHONNOUSERSITE=1 python -m pytest -v --cov=pipeline --cov-report=html --pyclean pipeline
        else
          PYTHONNOUSERSITE=1 python -m pytest -v --pyclean pipeline
        fi
      artifact_name: ${{ matrix.os == 'ubuntu-latest' && 'coverage-ubuntu-latest' || '' }}
      artifact_path: ${{ matrix.os == 'ubuntu-latest' && 'htmlcov' || '' }}

  deploy:
    name: Deploy Pages
    needs: test
    runs-on: ubuntu-latest

    if: |
      always() &&
      needs.test.result == 'success' &&
      github.ref == 'refs/heads/update-docs-build-and-packaging-setup'
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: coverage-ubuntu-latest
          path: coverage_report

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: coverage_report
          destination_dir: coverage_unit
